debug/
target/
**/*.rs.bk
*.pdb
.vscode/
.idea/
*.swp
*.swo
*.iml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.AppleDouble
.LSOverride
debug_*.json
*.log
dist/
book/
docs/changelog.md
docs/contributing.md
.env
